<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 section__one--right">
            <h1>اپلیکیشن تدکس ملاصدرا</h1>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
            <a class="curve-button " href=" "> دانلود اپلیکیشن</a>

        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 section__one--left">
            <img class="img-fluid" src="assets/images/header.png" alt="header">
        </div>
    </div>
</div>