<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 section__four--right">
            <h1>پادکست این هفته - <span>علی بندری</span></h1>
            <p class="text"><span class="text-name">علی بندری</span> با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است . متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>

            <a class="curve-button" href=" "> اطلاعات بیشتر </a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12  section__four--left">
            <img class="img-fluid" src="assets/images/week-podcast.png" alt="">
        </div>
    </div>
</div>