<div>
    <div class="container">
        <div class="col-lg-12 mb-4">
            <!-- <a [routerLink]="['/podcast' ,podcast._id]"> -->
            <a>

                <img src="assets/images/z.png" class="img-fluid" width="495" alt="">
            </a>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-8">
                    <!-- <h4 class="mb-3 fw-bolder">{{teds.title}}</h4>
                    <h5 class="mb-3">زمان: <span>{{teds.publishTime  | jalaliFull}}</span></h5>
                    <h5>{{teds.category.name}}</h5> -->
                    <h4 class="mb-3 fw-bolder">رادیو دور دنیا</h4>
                    <h5 class="mb-3">علی بابا</h5>
                    <h5>گردشگری</h5>
                </div>
                <div class="col-4 text-end">
                    <h5 class="mb-3"><span>57</span> دقیقه</h5>
                </div>
            </div>
        </div>
    </div>
</div>