<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-none col-sm-none"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-3">
                        <img class="logo " src="assets/images/tedx.png" width="80px" height="80px" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h2 class="fw-bolder">درباره تدکس ملاصدرا</h2>
                        <h6><span class="x-text fw-bolder">X</span> = independently organized TED event</h6>
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-none col-sm-none"></div>
        </div>
        <div class="row">
            <p class="about-text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان
                امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="footer__logo">
                    <a href="#"><img src="assets/images/logo.png" width="230" alt="logo" /></a>
                </div>
                <div class="footer__contact">
                    <div>
                        <div class="footer__contact--info">
                            <ul>
                                <li>
                                    <mat-icon>phone</mat-icon>
                                    <a href=" "> 22228525 - 021 </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <mat-icon>room</mat-icon>
                                    <a href=" "> تهران، بلوار میرداماد، میدان نیلوفر، تقاطع نیل و پیروز شرقی، پلاک ۱۸ </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="footer__top--menu ">
                            <h4>تدکس ها</h4>
                            <div class="footer__top--menu-list ">
                                <ul>
                                    <li><a href="# ">تدکس شماره یک</a></li>
                                    <li><a href=" "> تدکس شماره دو </a></li>
                                </ul>
                            </div>
                            <h4>کتاب ها</h4>
                            <div class="footer__top--menu-list ">
                                <ul>
                                    <li><a href="# ">کتاب شماره یک</a></li>
                                    <li><a href="about.html "> کتاب شماره دو </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="footer__top--menu ">
                            <h4>پادکست ها</h4>
                            <div class="footer__top--menu-list ">
                                <ul>
                                    <li><a href="# "> پادکست شماره یک</a></li>
                                    <li><a href="# "> پادکست شماره دو</a></li>
                                </ul>
                            </div>
                            <h4>رویدادها</h4>
                            <div class="footer__top--menu-list ">
                                <ul>
                                    <li><a href="# "> رویداد شماره یک </a></li>
                                    <li><a href="# "> رویداد شماره دو </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="footer__top--menu ">
                            <h4>ما را دنبال کنید</h4>
                            <div class="footer__top--menu-list ">
                                <ul>
                                    <li><a href="# "> اینستاگرام</a></li>
                                    <li><a href="# "> لینکدین</a></li>
                                    <li><a href="# ">تلگرام</a></li>
                                    <li><a href="my-account.html "> حساب من </a></li>
                                </ul>
                            </div>
                            <h4>تماس با ما</h4>
                            <h4>درباره تدکس ملاصدرا</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <h4>میخواهید با ما همکاری کنید؟</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                <ul>
                    <li>
                        <a href=" " class="dark-button ">همکاری با تدکس</a>
                    </li>
                    <li class="my-5 ">
                        <a class="rec-button " href=" "> دانلود اپلیکیشن</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>