<div class="detail-wrapper">
    <div class="container-fluid detail__top">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 detail__top--right">
                <!-- <div class="video">
                    <video controls (click)="toggleVideo()" #videoPlayer>
                        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
                        Browser not supported
                    </video>
                </div> -->
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://vjs.zencdn.net/v/oceans.mp4" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12  detail__top--left">
                <h1>{{tedsData.title}} </h1>
                <p class="text">{{tedsData.description}}</p>
                <div *ngFor="let details of tedsData.details">
                    <p class="people" *ngIf="!details.restTime">

                        <img src="assets/images/people.png" width="50" height="50" class="rounded-circle" alt="">
                        <span class="people-name">{{details?.speaker?.name}} </span>
                        <span class="people-text">{{details?.speaker?.about}}</span>

                    </p>
                </div>
                <p class="link">مرتبط با : <a href="" *ngFor="let tag of tedsData.tags"> {{tag.name}} , </a> </p>
                <!-- <p class="link">دسته بندی : <a href="">{{tedsData.category.name}}</a> </p> -->
                <span>
        <i [inlineSVG]="'assets/images/icons/vuesax-twotone-calendar.svg'" class="mx-2"></i>
        <span  class="time">{{tedsData.publishTime | jalaliFull}}</span>
                </span>

                <span class="mx-3">
                    <i [inlineSVG]="'assets/images/icons/vuesax-twotone-clock.svg'" class="mx-2"></i>
                    <span class="time"> <span>{{tedsData.videoTime}}</span> دقیقه</span>
                </span>
            </div>
        </div>
    </div>

    <div class="container-fluid detail__middle">
        <div class="row">
            <mat-tab-group>
                <mat-tab label="درباره تدتاک">
                    <ng-template matTabContent>
                        <p>
                            {{tedsData.about}}
                        </p>
                    </ng-template>
                </mat-tab>
                <mat-tab label="درباره سخنران">
                    <ng-template matTabContent>
                        <div *ngFor="let speaker of tedsData.speakers">
                            <app-about-speaker [speakerData]="speaker"></app-about-speaker>

                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="جزییات تدکس">
                    <ng-template matTabContent>
                        <div class="live__details">
                            <app-live-details [details]="tedsData.details"></app-live-details>
                        </div>

                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="detail__bottom">
        <h1 class="detail__bottom--title">نظرات</h1>
        <div class="detail__bottom--card" *ngFor="let comment of commentsData">
            <app-comment-card [comments]="comment"></app-comment-card>
        </div>
        <div class="detail__bottom--all" *ngIf="commentsData.length !== 0 else empty">
            <a href="">
                <mat-icon color="warn">keyboard_arrow_down</mat-icon> مشاهده همه
                <mat-icon color="warn">keyboard_arrow_down</mat-icon>

            </a>
        </div>
        <ng-template #empty>
            نظری موجود نیست
        </ng-template>
    </div>
    <div class="container-fluid  similar-tedx">
        <div class="row mb-5">
            <div class="col-lg-6 col-md-12 col-sm-12 text-lg-start  text-center">
                <h1> تدکس های مشابه </h1>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12  text-lg-end  text-center">

                <a href=""> مشاهده همه <mat-icon color="warn">keyboard_arrow_left</mat-icon></a>
            </div>
        </div>
        <div class="row">
            <swiper [config]="config1">
                <!-- <div *ngFor="let teds of tedsData">

                    <app-tedx-card [teds]="teds"></app-tedx-card>
                </div> -->

            </swiper>
        </div>
    </div>

</div>