@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/Bold(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: light;
    src: url('/assets/fonts/Light(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: regular;
    src: url('/assets/fonts/Regular(FaNum).ttf') format('truetype');
}

// @font-face {
//     font-family: Pelak;
//     font-style: normal;
//     font-weight: bold;
//     src: url('/assets/fonts/pelak/PelakFA-Bold.ttf') format('truetype');
// }
// @font-face {
//     font-family: Pelak;
//     font-style: normal;
//     font-weight: light;
//     src: url('/assets/fonts/pelak/PelakFA-light.ttf') format('truetype');
// }
// @font-face {
//     font-family: Pelak;
//     font-style: normal;
//     font-weight: regular;
//     src: url('/assets/fonts/pelak/PelakFA-Regular.ttf') format('truetype');
// }