<div class="podcast-wrapper">
    <div class="container-fluid">
        <div class="row podcast-header">
            <div class="col-lg-6 col-md-4 col-sm-4 ">
                <h1>
                    جدیدترین پادکست ها
                </h1>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8 text-end">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 filter-btn ">
                        <a class="rec-button mx-3" href=""> فیلتر پادکست ها</a>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-start category-btn">
                        <!-- <a class="rec-button" href=""> دسته بندی نتایج <mat-icon >keyboard_arrow_down</mat-icon></a> -->
                        <!-- <main-select [selectItems]="selectItems"></main-select> -->
                        <select>
                            <option *ngFor="let selectItems of selectItems" [value]="selectItems.id" >{{selectItems.title}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="row podcast-content">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <app-podcast-card></app-podcast-card>

            </div>

        </div>
    </div>
</div>
<div class="episod-wrapper">
    <div class="container-fluid">
        <div class="row episod-header">
            <div class="col-lg-6 col-md-4 col-sm-4 ">
                <h1>
                    آخرین اپیزود ها
                </h1>
            </div>

        </div>
        <div class="row episod-content">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <app-podcast-card></app-podcast-card>

            </div>

        </div>
    </div>
</div>